data/*
mtdta/*
*.pt
inference_frames/*
.env
# Ignore Python bytecode caches (all folders named __pycache__ anywhere in the tree)
__pycache__/
**/__pycache__/

# Ignore compiled Python files
*.py[cod]
*$py.class
# videos
*.mov

